__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
env/

.env
.env.*
!.env_example

*.log

*.db
*.sqlite3

alembic/__pycache__/

build/
dist/
*.egg-info/

.vscode/
.idea/

.DS_Store
Thumbs.db

docker-compose.override.yml